ul {
    clear: both;
    border-top: none !important;
}

/*×Ô¶¨Òå*/
.topcoat-button {
    padding: 0 1.25rem;
    font-size: 14px;
    line-height: 3rem;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #9daca9;
    border-radius: 16px;
}

.search-bar {
    padding: 10px 10px 12px 8px;
}

.search-bar > input {
    width: 30%;
    margin-right: 4px;
}

.search-bar > .download_button {

    display: none;
}

.list {
    list-style-type: none;
}

.list > li {
    border-top: none;
    display: block;
    height: 35px;
    padding: 4px;
    margin: 8px 0px 0px 0px;
    font-weight: bold;
}





























